.DS_Store
*.py[cod]
*.jpg
*.gz
*.csv
*.html
!catalog.html
*.xml
*.json
!/catalog.json
*.sw*
*-needsbib.txt
sne-internal
sne-external*
sne-pre-1990
sne-1990-1999
sne-2000-2004
sne-2005-2009
sne-2010-2014
sne-2015-2019
sne-boneyard
sne-private*
*.log
*.bak
WISeWEBSpider
