ads>=0.12.1
argparse>=1.4.0
astropy>=1.2.1
astroquery>=0.3.2
beautifulsoup4>=4.4.1
bokeh>=0.12.0
dropbox>=7.1.1
GitPython>=2.0.6
inflect>=0.2.5
palettable>=2.1.1
psutil>=4.3.0
seaborn>=0.7.1
tqdm>=4.5.0
tweepy>=3.5.0
